<header>
    <h1>Nosotros - Hireable</h1>
</header>

<section class="about-us">
    <h2>¿Quiénes somos?</h2>
    <p>Hireable es una empresa dedicada a facilitar oportunidades laborales para personas con discapacidades. Nos comprometemos a crear un entorno inclusivo y adaptado a las necesidades individuales de cada persona.</p>
</section>

<section class="team">
    <h2>Nuestro Equipo</h2>
    <div class="team-member">
        <img src="../../assets/image/Carrusel2.jpg" alt="Miembro del equipo - Hireable">
        <p>Angel Romo<br>CEO y Fundador</p>
        <p>Arturo Villalobos<br>Programador</p>
        <p>Aranza Ruiz<br>Tester y Analista</p>
    </div>
</section>